.center {
    text-align: center;
}

#equation {
    background-color: yellow;
    text-align: center;
    border-radius: 10%;
}

body {
    background-color: lightblue;
}

#formula {
    background-color: yellow;
}

span {
    display: block;
}

#boxed {
    border: 1px solid;
}

.tn {
    font-size: 3em;
}