.center{
    text-align: center;
}

body{
    background-color: lightblue;
}

h1{
    color: purple;
}

h4{
    color: darkblue;
}

#control{
    background-color: yellowgreen;
    border-radius: 10%;
  }

 #play{
    background-color: rgb(50, 205, 202);
    text-align: center;
    border-radius: 10%;
    cursor: url('img/knife.png'), auto;
 }

.good2{
  content:url("img/red_apple_broken.png");
}

.bad2{
  content:url("img/green_apple_broken.png");
}

#timebar{
  background-color: lightblue;
}